# Build
build/
bin/
out/
cmake-build-debug/
CMakeLists.txt

# Compiled files
*.exe
*.o
*.obj
*.a
*.lib

# IDE
.vscode/
.idea/

# Generated/runtime data
data/*
!data/.gitkeep

# Testing/Experimenting
tests/